<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Homepage</title>
</head>
<body>
<h1>Homepage</h1>
<a href="/rooms">Arbeitsplatz buchen</a>
<h2>Buchungen</h2>
<div id="links" th:if="${homeModels}">
    <table class="table" >
        <thead>
        <tr>
            <th>Raum</th>
            <th>Workspace</th>
            <th>Austattung</th>
            <th>Zeitraum</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first" >
        <tr th:each="workspace:${homeModels}">
            <td>
                <span th:text="${workspace.roomNumber}"> 123 </span>
            </td>
            <td>
                <span th:text="${workspace.workspaceNumber()}"> 123 </span>
            </td>
            <td>
                <div th:text="${item.type()}" th:each="item:${workspace.items()}">
                    <span > Küche </span>
                </div>

            </td>
            <td>
                <!--<pre th:text="${timeframe}" th:each="timeframe:${timeframes}">-->
                <pre th:text="${workspace.reservedTime}">
                    <span > Zeitraum </span>
                </pre>

            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>