<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<h1>Login</h1>

<div>
  <form method="post">
    <div>
      <label name="username" for="username">Username:</label>
      <input id="username" name="username" type="text" placeholder="user123" />
    </div>
    <br>
    <div>
      <label name="password" for="password">Passwort:</label>
      <input name="password" id="password" type="password"/>
    </div>
    <div>
      <input type="submit" value="Anmelden"/>
    </div>
  </form>

  <p>Wenn Sie noch keinen Account haben bitte hier <a href="registrieren">klicken</a></p>
</div>

</body>
</html>