<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raumreservierung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Arbeitsplatzreservierung</h1>
    <form method="GET">
        <div class="form-group">
            <label for="datum">Datum</label>
            <input type="date" id="datum" name="datum" class="form-control" required th:value="${date}">
        </div>
        <div class="form-group">
            <label for="uhrzeit">Uhrzeit</label>
            <input type="time" id="uhrzeit" name="uhrzeit" class="form-control" required th:value="${time}">
        </div>
        <div class="form-group">
            <label for="gegenstaende">Gegenstände im Raum</label>
            <select multiple id="gegenstaende" name="gegenstaende" class="form-control" required>
                <option th:each="item : ${items}" th:value="${item.type}" th:text="${item.type}" th:selected="${gegenstaende != null and gegenstaende.contains(item.type)}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Passenden Raum suchen</button>
    </form>

</div>

<table class="table">
    <thead class="table-header">
    <tr>
        <th>ArbeitsplatzID</th>
        <th>Datum/Uhrzeit</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="room : ${rooms}">
        <td th:text="${'Raum ' + room.roomNumber}"></td>
        <td>Uhrzeit</td>
        <td>
            <a th:href="@{/room/{roomId}(roomId=${room.roomID})}">Raum ansehen</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/rooms/add">Räume hinzufügen</a>
</body>
</html>
