<!DOCTYPE html>
<html lang="en" th:object="${room}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title th:text="*{roomnumber}" >-1</title>
</head>
<body>

<script>
    function renameParent(parent) {
        if(parent.value.includes('-X'))
            parent.value = parent.value.replace('-X', '')
        else
            parent.value = parent.value + '-X'
    }
    
</script>
  <h1>Details zu Raum <span th:text="*{roomnumber}">-1</span> </h1>

  <div th:if="${formValidationErrorText}">
    <div th:text="${formValidationErrorText}">ErrorText</div>
  </div>


  <form method="post" action="/book">
    <input type="hidden" name="roomID" th:value="*{roomID}">

    <table class="table">
      <thead class="table-header">

        <tr>
            <th>Uhrzeit</th>
            <th>Datum</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
<!-- old       <tr th:each="time: ${#numbers.sequence(0, (frame.times())*(frame.stepSize())-1,1)}" th:remove="all-but-first">-->
<!--          <td th:each="day: ${#numbers.sequence(0, frame.days()-1,1)}" th:remove="all-but-first"><label>-->
<!--            <span th:text="${frame.dayLabels()[day]}">Monday</span> <span th:text="${frame.timeLabels()[time]}">19:00</span>-->
<!--            <input  type="checkbox" name="Monday19">-->
<!--          </label></td>-->
<!--        </tr>-->

          <tr>
              <td></td>
              <td th:each="day: ${#numbers.sequence(0, frame.days()-1,1)}" th:remove="all-but-first">
                  <span th:text="${frame.dayLabels()[day]}">Monday Tuesday...</span>
              </td>
          </tr>

          <tr th:each="time: ${#numbers.sequence(0, (((frame.times())* 60) / frame.stepSize()) - 1,1)}">
              <td> <span th:text="${frame.timeLabels()[time]}">19:00</span> </td>
              <td th:each="day: ${#numbers.sequence(0, frame.days()-1,1)}">

                  <div>
                      <input  type="hidden" name="cell" th:value="${time + '-' + day}">
<!--                      <input type="checkbox" name="box" onchange="(e)=>{-->
<!--                          // console.log('test');-->
<!--                          // e.parent.children[0].value = e.parent.children[0].value+'_X'-->
<!--                      }">-->
                      <input th:unless="${reservedSlots.get(day).get(time)}" type="checkbox" name="box" onchange="renameParent(this.parentElement.children[0])">
                      <input th:if="${reservedSlots.get(day).get(time)}" type="checkbox" name="box" onchange="renameParent(this.parentElement.children[0] )" checked>

                  </div>
                  <input type="hidden" name="stepSize" th:value="${frame.stepSize()}">
              </td>
          </tr>
      </tbody>
    </table>

    <input type="submit">
  </form>
</body>
</html>