<!DOCTYPE html>
<html lang="en" th:object="${room}">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title th:text="*{roomnumber}" >-1</title>
</head>
<body>
  <h1>Details zu Raum <span th:text="*{roomnumber}">-1</span> </h1>
  <form method="post" action="/book" id="dynamic-form">
    <input type="hidden" name="roomID" th:value="*{roomID}">

    <table class="table">
      <thead class="table-header">
      
        <tr>
            <th>Uhrzeit</th>
            <th>Datum</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
<!-- old       <tr th:each="time: ${#numbers.sequence(0, (frame.times())*(frame.stepSize())-1,1)}" th:remove="all-but-first">-->
<!--          <td th:each="day: ${#numbers.sequence(0, frame.days()-1,1)}" th:remove="all-but-first"><label>-->
<!--            <span th:text="${frame.dayLabels()[day]}">Monday</span> <span th:text="${frame.timeLabels()[time]}">19:00</span>-->
<!--            <input  type="checkbox" name="Monday19">-->
<!--          </label></td>-->
<!--        </tr>-->

          <tr>
              <td></td>
              <td th:each="day: ${#numbers.sequence(0, frame.days()-1,1)}" th:remove="all-but-first">
                  <span th:text="${frame.dayLabels()[day]}">Monday Tuesday...</span>
              </td>
          </tr>

          <tr th:each="time: ${#numbers.sequence(0, (((frame.times())* 60) / frame.stepSize()) - 1,1)}">
              <td> <span th:text="${frame.timeLabels()[time]}">19:00</span> </td>
              <td th:each="day: ${#numbers.sequence(0, frame.days()-1,1)}">

              <input  type="checkbox" name="Monday19">
              </td>
          </tr>
      </tbody>
    </table>

<!--    <script>-->
<!--      let elementById = document.getElementById("dynamic-form");-->
<!--      elementById.children[]-->
<!--      -->
<!--    </script>-->
    <input type="submit">
  </form>
</body>
</html>