<!DOCTYPE html>
<html lang="en" th:object="${room}" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title th:text="*{roomNumber}" >-1</title>
    <style>
        .tag-list {
            list-style: none;
            padding: 0;
            display: flex;
        }

        .tag {
            margin-right: 10px;
        }
    </style>
</head>
<body>

<script>
    function renameParent(parent) {
        if(parent.value.includes('-X'))
            parent.value = parent.value.replace('-X', '')
        else
            parent.value = parent.value + '-X'
    }

</script>
  <h1>Details zu Raum <span th:text="*{roomNumber}">-1</span> </h1>

  <div th:if="${formValidationErrorText}">
    <div th:text="${formValidationErrorText}">ErrorText</div>
  </div>

<ul class="tag-list">
    <li th:each="itemName : ${itemStringList}" class="tag" style="display: flex;margin-right: 5px;">
        <span th:text="${itemName}"></span>
        <div sec:authorize="hasRole('ADMIN')">
            <form th:action="@{'/room/' + ${room.getRoomID()} + '/deleteItem/' + ${itemName}}" method="post">
                <input type="hidden" name="tagName" th:value="${itemName}" />
                <button type="submit">X</button>
            </form>
        </div>
    </li>
</ul>

<div sec:authorize="hasRole('ADMIN')">
    <label>Gegenstände hinzufügen</label>
    <ul>
        <li th:each="item : ${notSelcetedItems}">
            <form th:action="@{'/room/' + ${room.getRoomID()} + '/addItem/' + ${item}}" method="post">
                <button type="submit">
                    <span th:text="${item}"></span>
                </button>
            </form>
        </li>
    </ul>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <form th:action="@{'/room/' + ${room.getRoomID()} + '/createItem'}" method="post">
        <label for="createItem">Neuen Gegenstand hinzufügen:</label>
        <input id="createItem" type="text" name="newItem" required/>
        <input type="submit">
    </form>
</div>



  <form method="post" th:action="@{/rooms}">
      <input type="hidden" name="roomID" th:value="*{roomID}">
      <input type="hidden" name="stepSize" th:value="${frame.stepSize()}">

    <table class="table">
      <thead class="table-header">

        <tr>
            <th>Uhrzeit</th>
            <th>Datum</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr>
              <td></td>
              <td th:each="day: ${#numbers.sequence(0, frame.days()-1,1)}" th:remove="all-but-first">
                  <span th:text="${frame.dayLabels()[day]}">Monday Tuesday...</span>
              </td>
          </tr>

          <tr th:each="time: ${#numbers.sequence(0, (((frame.times())* 60) / frame.stepSize()) - 1,1)}">
              <td> <span th:text="${frame.timeLabels()[time]}">19:00</span> </td>
              <td th:each="day: ${#numbers.sequence(0, frame.days()-1,1)}">

                  <div>
                      <input  type="hidden" name="cell" th:value="${time + '-' + day}">
                      <input th:unless="${frame.reserved.get(day).get(time)}" type="checkbox" name="box" onchange="renameParent(this.parentElement.children[0])">
                      <input th:if="${frame.reserved.get(day).get(time)}" type="checkbox" name="box" onchange="renameParent(this.parentElement.children[0] )" checked>

                  </div>
              </td>
          </tr>
      </tbody>
    </table>

    <input type="submit">
  </form>
</body>
</html>