<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raumreservierung</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Arbeitsplatzreservierung</h1>
    <form method="GET">
        <div class="form-group">
            <label for="datum">Datum</label>
            <input type="date" id="datum" name="datum" class="form-control" required th:value="${date}">
        </div>
        <div class="form-group">
            <label>Uhrzeit</label>
            <div class="d-flex align-items-center">
                <label class="mr-2" for="startUhrzeit">Von</label>
                <input type="time" id="startUhrzeit" name="startUhrzeit" class="form-control" required th:value="${startTime}">

                <label class="mx-2" for="endUhrzeit">Bis</label>
                <input type="time" id="endUhrzeit" name="endUhrzeit" class="form-control" required th:value="${endTime}">
            </div>
        </div>
        <div class="form-group">
            <label for="gegenstaende">Gegenstände im Raum</label>
            <select multiple id="gegenstaende" name="gegenstaende" class="form-control">
                <option th:each="item : ${items}" th:value="${item.type}" th:text="${item.type}" th:selected="${gegenstaende != null and gegenstaende.contains(item.type)}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Passenden Raum suchen</button>
    </form>

</div>

<table class="table">
    <thead class="table-header">
    <tr>
        <th>Raum</th>
        <th>Workspace</th>
        <th>Datum/Uhrzeit</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="roomBookingModel : ${roomBookingModels}">
        <td th:text="${'Raum ' + roomBookingModel.roomNumber}"></td>
        <td th:text="${'Workspace ' + roomBookingModel.workspaceNumber}"></td>
        <td>Uhrzeit</td>
        <td>
            <a th:href="@{/room/{roomId}(roomId=${roomBookingModel.roomID})/{workspaceId}(roomId=${roomBookingModel.workspaceID})}">Raum ansehen</a>
        </td>
    </tr>
    </tbody>
</table>
<div sec:authorize="hasRole('ADMIN')">
    <a href="/rooms/add">Räume hinzufügen</a>
</div>
</body>
</html>
